@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}


h1, h2 {
  text-align: center;
}

h3 {
  font-size: x-large;
}

.background {
  background-color: lightgoldenrodyellow;
}

.languageGroupTile {
  background-color: white;
  border-color: blueviolet;
  border-style: groove;
  border-width: 3px;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 75%;
  text-align: center;
}

.map {
  border-color: blueviolet;
  border-style: groove;
  border-width: 3px;
  margin: 2em;
  padding: 2em;
}

.groupInfo {
  background-color: white;
  border-color: blueviolet;
  border-style: groove;
  border-width: 3px;
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  width: 75%;
  text-align: justify;
  
}