@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1 {
  text-align: center;
}

.background {
  background-color: whitesmoke;
}

.languageGroupTile {
  background-color: white;
  border-color: turquoise;
  border-style: groove;
  border-width: 3px;
  margin: 1em;
  padding: 1em
}

.map {
  border-color: turquoise;
  border-style: groove;
  border-width: 3px;
  margin: 1em;
  padding: 1em
}
